aniso8601==7.0.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
dateutils==0.6.6
Flask==1.1.1
Flask-Injector==0.12.0
Flask-RESTful==0.3.7
flask-restful-swagger==0.20.1
idna==2.8
injector==0.17.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
python-dateutil==2.8.0
pytz==2019.2
requests==2.22.0
six==1.12.0
typing==3.7.4.1
urllib3==1.25.3
Werkzeug==0.15.5
